* {
  margin:0;
  padding:0;
}

body {
  font-family:arial,sans-serif;
  font-size:100%;
  margin:3em;
  background:#666;
  color:#fff;
}

h2, p {
  font-size:100%;
  font-weight:normal;
}

ul, li {
  list-style:none;
}

.app-container {
  display: flex;
}

.note-panel {
  flex: 3;
}

.note-board {
  flex: 7;
}

